@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 0;
}

body {
    font-size: small;
    font-family:PolySans, sans-serif;

}

.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #27262b;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #cbd5e1;
}
.logo-fade {
    color: rgb(203, 213, 225, 0.2);
    font-weight: lighter;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 14px;
}
.nav-links a {
    text-decoration: none;
    color: #737373;
}
.auth-button {
    display: flex;
    gap: 20px;
}
.btn-outline {
    background-color: transparent;
    border: 1px solid #cbd5e1;
    color: #cbd5e1;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 30px;
}
.btn-filed {
    background-color: #525252;
    border: none;
    color: #cbd5e1;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 30px;
}

.btn-filed:hover {
    background-color: #151515;
    cursor: pointer;

}

.btn-outline:hover {
    background-color: #cbd5e1;
    color: #27262b;
    cursor: pointer;
}

.hero-section {
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,#000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-content h1{
    text-align: center;
    color: #fff;
    max-width: 900px;
    text-wrap: inherit;
    font-size: 48px;
    flex-direction: column;
    display: flex;
    gap: 30px;
    align-items: center;
}
.hero-title {
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(187, 185, 185);
    margin-bottom: 48px;
    /* letter-spacing:4; */
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.content-section{
    display: grid;
    justify-content: center;
}
.title-content {
    display: flex;
    justify-content: center;
}
.title-content h2{
    margin: 30px;
    padding: 20px;
    text-align: center;
   width: 600px;
    /* border: 1px solid black; */
    align-items: center;
    display: grid;
    justify-content: center;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display:inline-block;
    /* position: absolut16; */
    left: 0;
}
  
.image-content{
max-width: 1200px;
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: center;
align-items: center;
width: 100%;
}
.image-content1{
    border-radius: 20px;
    padding: 20px;
    /* border: 1px solid gray; */
}
.image-content img {
    width: 350px;
    height: 300px;
    padding: 10px;
}
.image-content h3 {
    text-align: start;
    /* padding: 10px; */
}
.image-content button {
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 30px;
}
.gallery-title {
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
}
.gallery-title p {
    padding: 10px;
    margin: 30px;
}
.grid-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    max-width: 1200px;
    width: 100%;
}
.grid-gallery img {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.discover-section{
    position: relative;
    height: 100vh;
    margin-top: 80px;

}
.discover-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discover-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    background: linear-gradient(to bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.9));
    
}

.discover-header {
    padding: 48px 0;
    max-width: 1200px;
    text-align: center;
    /* margin-bottom: 0px; */
}
.discover-title {
    font-size: 18px;
    margin-bottom: 10px;

}
.discover-content {
    max-width: 900px;
    margin: 0 5px;
}
.descover-heading{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.discover-discription {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.5px;

}
.discover-features{
    position: relative;
    display: flex;
    /* flex-direction:column; */
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* border: 1px solid darkblue;3*/
    margin-top: 40px;
    margin-bottom: 70px;

}
.discover-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    /* border: 1px solid darkblue; */
}
.discover-icon{
    background-color: #110111;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.discover-text h3 {
    font-weight: bold;
    margin-bottom: 8px;
    color: #1f2957;
}

.cta{
    position: relative;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}
.cta-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cta-overlay {
    position: absolute;
    inset: 0;
    background:linear-gradient(rgba(0,0,0,0.7));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta-content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    gap: 60px;
    width: 100%;
}
.cta-title{
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    color: #cfd1ee;
    align-self: center;
}
.cta-text-button{
    width: 100%;

}
.cta-discription {
    font-size: 24px;
    color: #cfd1cc;
    line-height: 1.6;
    margin-bottom: 32px;
}
.cta-buttons {
    display: flex;
    gap: 20px;
}
.cta-fild , .cta-outline {
    width: 170px;

}

>>>>>>> 1f61570e169297e142fb40b5d27a5633c5f30e4a
/* .grid-gallery-tall{
    padding: -20px;
    grid-row: span 2;
    margin-top:-48px;
    grid-column: 10px;
}
.grid-gallery-short{
    padding-top: 20px;
    padding-bottom: 20px;
}  */
.change {
    display: flex;
    justify-content: space-between;
   }
.change a{
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    font-family: pacifico;
    color: black;
    text-decoration: none;
}
   